<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <link rel="icon" href="../static/images/dog.ico">
    <script src="../static/js/jquery.min.js"></script>
    <script language="JavaScript">
        function update() {
            $('#updatePwd').submit();

        }
        function deleteUser() {
            $('#deleteUser').submit();

        }
    </script>
</head>
<body>
    <form id="updatePwd"  action="/account/updatePwdById" method="get">
        <div >
            <label>用户ID：</label>
            <input type="text" name="id" required="required"/>

        </div>
        <div >
            <label>密码：</label>
            <input type="password" name="password" required="required"/>
        </div>


    </form>
    <a href="javascript:void(0)" onclick="update();">修改</a>

    <form id="deleteUser"  action="/account/userDeleteById" method="get">
        <div >
            <label>用户ID：</label>
            <input type="text" name="id" required="required"/>

        </div>
    </form>
    <a href="javascript:void(0)" onclick="deleteUser();">注销</a>
</body>
</html>