<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为映射的地址，也就是只有在这个接口中才能使用下边的内容-->
<mapper namespace="com.wn.dbms.mapper.TableMapper">
    <!-- id 外部为调用的名字 resultType 为和数据库表中映射的类名，parameterType就是传递进来的参数id的类型-->

    <select id="ifExistTable" parameterType="String" resultType="Integer">
        select count(*) from information_schema.TABLES
        where LCASE(table_name) = #{tableName}
    </select>

    <update id="dropTable">
        drop table if exists ${tableName}
    </update>



</mapper>